body {
  font-family: "Poppins", sans-serif;
}

/* #region  */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

/* #endregion */

.header {
}
.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
.header-container {
  display: flex;
}
.navigation {
  display: flex;
}
.header-logo {
  font-weight: 700;
  font-size: 30px;
  display: flex;
  gap: 16px;
  margin-right: 237px;
  /* line-height: 28px; */
  line-height: 0.93;
  color: #173a56;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-list-item {
}
.nav-item-link {
  padding: 26px 0;
  display: block;
  /* line-height: 28px; */
  line-height: 1.75;
  color: #22343d;
}
.active {
  font-weight: 600;
}
.list-btn {
  display: flex;
  gap: 21px;
  margin-left: auto;
  align-items: center;
}

.list-btn-sign {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
}

.list-btn-item {
}

.second {
  background: #02897a;
  border-radius: 4px;
  width: 113px;
  height: 42px;
  color: #fff;
}

/* #region hero */

.hero {
  padding: 25px 0 50px;
}
.hero-container {
  display: flex;
  gap: 35px;
}
.wrapper {
  padding: 112px 0;
}
.hero-title {
  font-weight: 700;
  font-size: 40px;
  max-width: 415px;
  /* line-height: 60px; */
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}
.hero-title-descr {
  font-weight: 400;
  font-size: 18px;
  /* line-height: 28px; */
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 45px;
}
.hero-list-btn {
  align-items: center;
  display: flex;
  gap: 30px;
}
.hero-list-item {
}
.hero-btn-get {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background: #02897a;
}
.hero-btn-watch {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: #fff;
  width: 164px;
  height: 23px;
}

/* #endregion hero */

/* #region product */
.product {
  padding-top: 50px;
  padding-bottom: 100px;
}
.product-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 530px;
  margin: 0 auto 50px;
}
.product-list {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 76px;
}
.product-list-item {
  width: calc((100% - 90px) / 4);
}
.product-list-item-cont {
}
.product-item-title {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}
.product-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
}
.product-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  display: block;
  margin: 0 auto;
  border: none;
}
.green {
  background: #02897a;
}
.blue {
  background: #4d8dff;
}
.violet {
  background: #740a76;
}
.red {
  background: #f03e3d;
}
/* #endregion product */
/* #region management */
.management {
}
.mana {
  display: flex;
  align-item: center;
}
.cont-mana {
  margin-right: 84px;
  padding-top: 91px;
  padding-bottom: 141px;
}
.mana-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
  max-width: 224px;
}
.mana-title-span {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}
.mana-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 30px;
  max-width: 486px;
}
.mana-list {
}
.mana-list-item {
}
.mana-list-item:last-child {
  margin-bottom: 0;
}
.mana-item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}
.mana-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 25px;
  max-width: 486px;
}
/* #endregion management */
